<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>survey</title>
    <link rel='stylesheet' type='text/css' href='{{url_for('static', filename='style.css')}}'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <img src="static/images/mainbackground1.jpg"/>
      </div>
      <ul>
          <li><a href="/weddings">weddings</a></li>
          <li><a href="#whatwedo">what we do</a></li>
          <li><a href="/aboutus">about us</a></li>
          <li><a href="/prices">prices</a></li>
          <li><a href="/gallery">gallery</a></li>
          <li><a href="/contact">contact</a></li>
      </ul>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-12">

        </div>
    </div>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-12">
          
      </div>
    </div>
  </body>
</html>
